*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Geometria", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%; 
}

button {
  border: none;
  background-color: transparent;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 140px;
 
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}


.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

