.about {


  margin-bottom: 70px;

  @media (max-width: $tablet-width) {
    margin-bottom: 70px;
  }


  &__list {
    display: flex;
    flex-direction: column;
    margin-right: 67px;

    @media (max-width: $tablet-width) {
      margin-right: 0;
    }

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      margin-bottom: 30px;
    }
  }


  &__item:not(:last-child) {
    @media (min-width: $tablet-width) {
      margin-bottom: 45px;
    }


    @media (max-width: $tablet-width) {
      margin-bottom: 30px;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $white;
    box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);

    @media (max-width: $tablet-width) {
      width: 250px;

      margin-bottom: 30px;
      padding-right: 7px;
    }

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      width: 340px;
      padding-right: 8px;


    }
    @media (min-width: $desktop-width) {
      width: 400px;
      justify-content: center;
    }

  }

  &__article {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  &__label {
    font-size: 12px;
    line-height: 20px;
    color: $lightpurple;
    border-bottom: 1px solid #8E80A9;
    cursor: pointer;

    @media (max-width: $tablet-width) {
      font-size: 10px;
      line-height: 14px;
    }
  }

  &__descr {

    font-size: 12px;
    line-height: 20px;


    @media (max-width: $tablet-width) {
      padding-left: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 10px;
      line-height: 15px;
    }

    @media (min-width: $tablet-width) {
      margin-right: 50px;
    }

  }

  &__name,
  &__prof {
    color: $lightred;
  }

  &__name {
    @media (max-width: $tablet-width) {
      margin-bottom: 15px;
    }

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      margin-bottom: 9px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 9px;
    }

  }

  &__contact:not(:last-child) {
    @media (max-width: $tablet-width) {
      margin-bottom: 15px;
    }
  }

  &__lesson {
    color: $lightpurple;
  }

  &__photo {
    width: 144px;
    height: 144px;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: 50% 50%;
    transform: translate(-30%, -15%);

    @media (max-width: $tablet-width) {
      width: 82px;
      height: 82px;
      transform: none;
    }

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      transform: translate(-10%, -15%);
      width: 91px;
      height: 91px;
    }
  }

  &__popov {
    background-image: url("../img/teacher.jpg");
  }

  &__rojnina {
    background-image: url("../img/ronjina.jpg");
  }

  &__emelyanova {
    background-image: url("../img/emelyanova.jpg");
  }

  &__teacher {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__social {
    display: flex;
    margin-bottom: 30px;

    @media (max-width: $tablet-width) {
      margin-bottom: 0;
    }

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      margin-bottom: 20px;
    }

  }

  &__link {
    display: block;
    font-size: 12px;
    line-height: 20px;
    color: $lightpurple;
    text-decoration: underline;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }


  &__contact:not(:last-child) {
    margin-right: 11px;
  }

  &__fullname {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: $lightpurple;

    @media (max-width: $tablet-width) {
      margin-bottom: 5px;
    }

    @media (min-width: $tablet-width) {
      font-size: 16px;
    }
  }

  &__experience {
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: $lightred;

    @media (max-width: $tablet-width) {
      font-size: 10px;
      margin-bottom: 5px;
    }
    @media (min-width: $tablet-width) {
      font-size: 14px;
    }
  }

  &__work {
    margin-bottom: 18px;
    font-size: 10px;
    line-height: 15px;
    color: $lightpurple;

    @media (min-width: $desktop-width) {
      font-size: 12px;
      line-height: 20px;
    }
  }

  &__slides input {
    display: none;
  }

  &__cards {
    display: flex;

    @media (min-width: $tablet-width) {
      justify-content: space-between;
    }

    @media (max-width: $desktop-width) {
      flex-direction: column;
      align-items: center;
    }
  }


  &__info {
      display: none;
    }

  &__radio:checked + .about__info {
        display: block;
  }
}
