.about {
  display: none;

  margin-bottom: 140px;

  &__list {
    display: flex;
    flex-direction: column;
    margin-right: 67px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 105px;
    padding-right: 15px;
    background-color: $white;

    @media (max-width: $tablet-width) {
      width: 254px;
      height: 67px;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 89px;


    @media (max-width: $tablet-width) {
      margin-bottom: 56px;
    }
  }

  &__article {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 18px;
  }


  &__descr {
   
    font-size: 12px;
    line-height: 20px;

    @media (max-width: $tablet-width) {
      font-size: 10px;
      line-height: 15px;
    }

  }

  &__name,
  &__prof {
    color: $lightred;
  }

  &__name {
    margin-bottom: 9px;

    @media (max-width: $tablet-width) {
      margin-bottom: 0;
    }

  }

  &__lesson {
    color: $lightpurple;
  }

  &__photo { 
    width: 144px;
    height: 144px;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: 50% 50%;
    transform: translate(-15%, -30%);

    @media (max-width: $tablet-width) {
      width: 91px;
      height: 91px;
    }
  }

  &__popov {
    background-image: url("./img/teacher.jpg");
  }

  &__rojnina {
    background-image: url("./img/ronjina.jpg");
  }

  &__emelyanova {
    background-image: url("./img/emelyanova.jpg");
  }


  &__teacher {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__social {
    display: flex;
    margin-bottom: 37px;

    @media (max-width: $tablet-width) {
      margin-bottom: 10px;
    }
   
  }

  &__link {
    display: block;
    font-size: 12px;
    line-height: 20px;
    color: $lightpurple;
    text-decoration: underline;
  }

  &__description {
    display: flex;
    justify-content: space-between;
  }

  &__contact:not(:last-child) {
    margin-right: 11px;
  }

  &__fullname {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: $lightpurple;

    @media (max-width: $tablet-width) {
      margin-bottom: 5px;
    }
  }

  &__experience {
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: $lightred;

    @media (max-width: $tablet-width) {
      margin-bottom: 5px;
    }
  }

  &__work {
    margin-bottom: 18px;
    color: $lightpurple;

    @media (max-width: $tablet-width) {
      font-size: 10px;
      line-height: 15px;
    }
  }
}