.footer {

  max-width: 100%;


  &__form {
    width: 410px;

    @media (max-width: $desktop-width) {
      width: 100%;
      padding-top: 70px;
      padding-bottom: 70px;
    }

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      width: 411px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 58px;
    background-image: url('../img/footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: $desktop-width) {
      padding-top: 0;
      padding-bottom: 0;
    }

  }

  &__order {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__container {
    max-width: 960px;
    margin: 0 auto;

    @media (max-width: $tablet-width) {
      padding-left: 35px;
      padding-right: 35px;
    }
  }

  &__bottom {

    padding: 30px 35px;
    font-size: 12px;
    line-height: 20px;
    color: $white;
    background-color: $lightpurple;
  }

  &__copyright {
    display: flex;
    justify-content: space-between;

    @media (max-width: $tablet-width) {
      flex-direction: column;
    }
  }

  &__copy {
    @media (max-width: $tablet-width) {
      margin-bottom: 30px;
    }
  }

  &__link {
    color: $white;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: $lightpurple;
    font-size: 14px;
    line-height: 20px;

    @media (max-width: $tablet-width) {
      flex-direction: column;
      color: $white;
    }

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      display: grid;
      grid-template-columns: 250px 150px;
      grid-template-rows: 1fr 1fr;
      width: 400px;
      padding-left: 70px;
      color: $white;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 250px 150px;
      grid-template-rows: 1fr 1fr;
      width: 400px;

    }

  }

  &__email,
  &__phone {
    color: $lightpurple;

    @media (max-width: $tablet-width) {
      color: white;
    }
    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      color: white;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__item:not(:nth-child(2n)) {
    margin-right: 60px;
  }

  &__contact {
    margin-right: 180px;

    @media (max-width: $desktop-width) {
      display: none;
    }


  }

  &__connect {
    display: none;

    @media (max-width: $desktop-width) {
      display: block;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }
}
