 .header {

@media (max-width: $desktop-width) {
  margin-bottom: 90px;
}

@media (max-width: $tablet-width) {
  margin-bottom: 70px;
}


@media (min-width: $desktop-width) {
  margin-bottom: 130px;
}

   &__container {

    
    margin: 0 auto;

    @media (max-width: $desktop-width) {
      padding-left: 70px;
      padding-right: 70px;
    }

    @media (max-width: $tablet-width) {
      padding-left: 15px;
      padding-right: 15px;
    }

   

    @media (min-width: $desktop-width) {
      max-width: 1160px;
    }

  }

  &__top {
     display: flex;
     justify-content: space-between;
     align-items: center;

     @media (max-width: $tablet-width) {
      padding-top: 20px;
      padding-bottom: 70px;
      color: $lightpurple;
     }

     @media (max-width: $desktop-width) {
      padding-top: 40px;
      padding-bottom: 70px;
     }

     @media (min-width: $desktop-width) {
      padding-top: 70px;
      padding-bottom: 130px;
     }  
   }

  &__burger {
    width: 30px;
    height: 20px;
    background-image: url("/img/burger.svg");
    background-repeat: no-repeat;
    cursor: pointer;

    

    // font-size: 16px;
    // line-height: 18px;
    // font-weight: 500;
    // padding-left: 29px;
   
     color: $lightpurple;
  }

  &__menu {
 

    @media (max-width: $desktop-width) {
      font-size: 16px;
      line-height: 18px;
      padding-left: 30px;
    }

    @media (min-width: $desktop-width) {
      font-size: 16px;
      line-height: 18px;
      padding-left: 30px;
    }

    @media (max-width: $tablet-width) {
      font-size: 0;
    }

  }

   &__telephone {
   
    color: $lightpurple;
    cursor: pointer;
      @media (max-width: $tablet-width) {
          font-size: 12px;
          line-height: 20px;
          font-weight: 500;
          
         }

//     font-size: 16px;
//     line-height: 18px;
//     font-weight: 500;
   
   }

  &__title {
  //  margin: 0 auto;
    font-family: "Caveat";
    // font-size: 45px;
    // line-height: 45px;
    font-weight: 400;
    color: $lightpurple;
    text-align: center;

    @media (max-width: $tablet-width) {
      font-size: 18px;
      line-height: 18px;
    }

    @media (max-width: $desktop-width) {
      font-size: 24px;
      line-height: 24px;
    }

  }

//   &__logo {
//     display: block;
//   }

//   // &__registr {
   
//   //   // width: 260px;
//   //   height: 48px;
//   // }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 133px;
    // padding-left: 65px;
    width: 200px;
    // height: 48px;
    // background-image: url("/img/header-button.svg");
    // background-repeat: no-repeat;
    // font-size: 14px;
    // line-height: 20px;
    // font-weight: 400;
    color: $lightred;
    cursor: pointer;

    @media (max-width: $tablet-width) {
      font-size: 12px;
      line-height: 16px;
    }

    @media (max-width: $desktop-width) {
      margin-bottom: 60px;
    }

    @media (min-width: $desktop-width) {
      width: 280px;
    }

    // @media (min-width: $mobile-width-only) {
    //   margin-bottom: 0;
    // }
  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-right: 15px; 
    background-color: $lightred; 

    @media (max-width: $tablet-width) {
      width: 30px;
      height: 26px;
    }

     @media (max-width: $desktop-width) {
      width: 30px;
      height: 26px;
     }

     @media (min-width: $desktop-width) {
      width: 100px;
      height: 48px;
     }
   


  }

  &__offer {

    @media (max-width: $tablet-width) {
      font-size: 10px;
      line-height: 12px;
    }

    @media (max-width: $desktop-width) {
      font-size: 10px;
      line-height: 12px;
    }

    @media (min-width: $desktop-width) {
      font-size: 14px;
      line-height: 20px;
    }
    
  }

  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  &__city {
    // font-size: 16px;
    // line-height: 16px;
    color: $lightpurple;

    @media (max-width: $desktop-width) {
      font-size: 12px;
      line-height: 16px;
    }
  }

//   &__number {
//     position: absolute;
//     right: 50px;
//     top: center;
//     font-size: 30px;
//     line-height: 30px;
//     font-weight: 700;
//     color: $lightpurple;
//     opacity: 0.5;
//     // background-image: url("/img/line.svg");
//     // background-repeat: no-repeat;
//     // padding-right: 20px;
//   }
// }



 }


 .body {
  background-image: url("/img/bg-desktop.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: 100%;
  background-color: #FCF8FE;
}