 .header {

@media (max-width: $desktop-width) {
  margin-bottom: 90px;
}

@media (max-width: $tablet-width) {
  margin-bottom: 70px;
}


@media (min-width: $desktop-width) {
  margin-bottom: 130px;
}

   &__container {


    margin: 0 auto;

    @media (max-width: $desktop-width) {
      padding-left: 70px;
      padding-right: 70px;
    }

    @media (max-width: $tablet-width) {
      padding-left: 15px;
      padding-right: 15px;
    }



    @media (min-width: $desktop-width) {
      max-width: 1160px;
    }

  }

  &__top {
     display: flex;
     justify-content: space-between;
     align-items: center;

     @media (max-width: $tablet-width) {
      padding-top: 20px;
      padding-bottom: 70px;
      color: $lightpurple;
     }

     @media (max-width: $desktop-width) {
      padding-top: 40px;
      padding-bottom: 70px;
     }

     @media (min-width: $desktop-width) {
      padding-top: 70px;
      padding-bottom: 130px;
     }
   }

  &__burger {
    width: 30px;
    height: 20px;
    background-image: url("../img/burger.svg");
    background-repeat: no-repeat;
    cursor: pointer;
     color: $lightpurple;
  }

  &__menu {


    @media (max-width: $desktop-width) {
      font-size: 16px;
      line-height: 18px;
      padding-left: 30px;
    }

    @media (min-width: $desktop-width) {
      font-size: 16px;
      line-height: 18px;
      padding-left: 30px;
    }

    @media (max-width: $tablet-width) {
      font-size: 0;
    }

  }

   &__telephone {

    color: $lightpurple;
    cursor: pointer;
      @media (max-width: $tablet-width) {
          font-size: 12px;
          line-height: 20px;
          font-weight: 500;

         }

   }

  &__title {
    font-family: "Caveat", cursive;
    font-weight: 400;
    color: $lightpurple;
    text-align: center;

    @media (max-width: $tablet-width) {
      font-size: 18px;
      line-height: 18px;
    }

    @media (max-width: $desktop-width) {
      font-size: 24px;
      line-height: 24px;
    }

  }


  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    color: $lightred;
    cursor: pointer;

    @media (max-width: $tablet-width) {
      font-size: 12px;
      line-height: 16px;
    }

    @media (max-width: $desktop-width) {
      margin-bottom: 60px;
    }

    @media (min-width: $desktop-width) {
      width: 280px;
    }
  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    background-color: $lightred;

    @media (max-width: $tablet-width) {
      width: 30px;
      height: 26px;
    }

     @media (max-width: $desktop-width) {
      width: 30px;
      height: 26px;
     }

     @media (min-width: $desktop-width) {
      width: 100px;
      height: 48px;
     }



  }

  &__offer {

    @media (max-width: $tablet-width) {
      font-size: 10px;
      line-height: 12px;
    }

    @media (max-width: $desktop-width) {
      font-size: 10px;
      line-height: 12px;
    }

    @media (min-width: $desktop-width) {
      font-size: 14px;
      line-height: 20px;
    }

  }

  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  &__city {
    color: $lightpurple;

    @media (max-width: $desktop-width) {
      font-size: 12px;
      line-height: 16px;
    }
  }
 }

 .body {
  background-image: url("../img/bg-desktop.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: 100%;
  background-color: #FCF8FE;
}
