.reviews {
  

  margin-bottom: 147px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  &__article {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: $white;
    font-size: 12px;
    line-height: 20px;
    outline: 1px solid red;

    @media (max-width: $tablet-width) {
      padding: 30px 15px;
    }

    @media (min-width: $tablet-width) and (min-width: $desktop-width) {
      width: 442px;
      // height: 215px;
      padding-top: 50px;
      padding-left: 87px;
      padding-right: 57px;
    } 
  }

  &__article:not(:last-child) {
    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      margin-bottom: 18px;
    }
    
  }

  &__item {
    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      margin-bottom: 22px;
    }
  }



  &__autor {
    display: flex;
    justify-content: flex-start;
  }

  &__photo {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }

  &__text {
    color: $lightpurple;
    

    @media (max-width: $tablet-width) {
      margin-bottom: 30px;
      background-color: $white;
    }
    @media (min-width: $desktop-width) {
      margin-bottom: 30px;
    }
  }

  &__name {
    color: $lightred;
    margin: 0;
  }

  &__time {
    font-size: 10px;
    color: $lightpurple;
  }
}