.section {

  &__container {
    // max-width: 925px;
    margin: 0 auto;

    @media (max-width: $desktop-width) {
      max-width: 625px;
    }

    @media (max-width: $tablet-width) {
      padding-left: 35px;
      padding-right: 35px;
    }
    
    @media (min-width: $desktop-width) {
      max-width: 1160px;
    }
  }

  &__title {
    margin: 0 auto;
    margin-bottom: 65px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: $lightpurple;

    @media (max-width: $tablet-width) {
      font-size: 18px;
      line-height: 18px;
    }
  }
}

.direction {
  @media (max-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 120px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  

  &__title {
    margin-bottom: 13px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    color: $lightpurple;

    @media (max-width: $tablet-width) {
      margin-bottom: 13px;
      margin-bottom: 0;
      font-size: 12px;
      line-height: 12px;
    }
    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      margin-bottom: 8px;
    }

    @media (min-width: $desktop-width) {
      font-size: 16px;
      line-height: 20px;
    }


  }

  &__timetable {
    margin-bottom: 16px;

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      margin-bottom: 10px;
    }

    

  }

  &__info {
    font-size: 10px;
    line-height: 20px;
    font-weight: 500;
    color: $lightpurple;

    @media (max-width: $tablet-width) {
      font-size: 10px;
      line-height: 15px;
    }

    @media (min-width: $desktop-width) {
      font-size: 12px;
    }
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    background-color: $lightpurple;
    background-image: url("./img/arrow.svg");
    background-repeat: no-repeat;
    background-position: center center;

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      width: 100%;
      height: 100%;
    }
  }

  &__link--small {
 

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      width: 30px;
      height: 20px;
    }
   

    // @media (min-width: $mobile-width-only) {
    //   width: 100%;
    //   height: 100%;
    // }
  }

  &__card { 
    font-size: 0;
    outline: 1px solid red;
    @media (max-width: $tablet-width) {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &__refer {
    width: 17%;
 
  }

  
  &__btn {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: $lightpurple;
    background-color: $white;
    text-align: center;
    outline: 1px solid red;

    @media (max-width: $tablet-width) {
      padding-top: 14px;
      padding-bottom: 14px;
    }

    @media (min-width: $tablet-width) {
      margin-top: auto;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  &__descr {
    // padding-top: 42px;
    // padding-left: 46px;

    @media (max-width: $desktop-width) {
      padding-top: 18px;
      padding-left: 21px;
      padding-bottom: 13px;
    }

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      padding-top: 10px;
      padding-bottom: 11px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 42px;
      padding-bottom: 26px;
    }
    
  }

  &__teacher {
    width: 115px;
    font-size: 10px;
    line-height: 18px;
    font-weight: 500;
    color: $lightred;

    @media (max-width: $tablet-width) {
      font-size: 10px;
      line-height: 15px;
    }
    @media (min-width: $desktop-width) {
      font-size: 12px;
      width: 130px;
    }
    
  }

  &__instructor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // width: 235px;

    @media (max-width: $tablet-width) {
      width: 160px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    background-color: $white;

    

  }

  &__left {

    // @media (max-width: $desktop-width) {
    //   width: 40%;
     
    // }

    @media (max-width: $tablet-width) {
      width: 100%;
    }
    @media (min-width: $desktop-width) {
      width: 366px;
    }
   
  }
  &__right {
    @media (max-width: $desktop-width) {
      display: flex;
      flex-direction: column;
    }
    @media (max-width: $tablet-width) {
      width: 100%;
    }

    
  }

  &__description {
    display: flex;
    @media (max-width: $tablet-width) {
     
      flex-direction: column;
    }

    @media (max-width: $desktop-width) {
     
      justify-content: space-between;
    }
    @media (min-width: $desktop-width) {
      width: 925px;
      justify-content: space-between;
    }
  }
}


.right {
  &__card {
    display: flex;
    @media (max-width: $tablet-width) {
      
      flex-direction: column;
    }
    @media (max-width: $desktop-width) {
      
      justify-content: space-between;
    }
    @media (min-width: $desktop-width) {
      width: 525px;
      justify-content: space-between;
    }
  }

  &__card:not(:last-child) {
    @media (max-width: $desktop-width) {
      margin-bottom: 18px;
    }
    @media (min-width: $desktop-width) {
      margin-bottom: 28px;
    }
  }

  &__cards {
    @media (min-width: $desktop-width) {
      margin-bottom: 22px;
    }
  }

  &__bottom {
    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      width: 60%;
    }
  }

  &__img {
    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      width: 148px;
      height: 131px;
    }
    @media (min-width: $desktop-width) {
      width: 220px;
      height: 180px;
    }

  }

  &__refer {
    @media (min-width: $tablet-width) {
      padding-bottom: 20px;
      margin-top: auto;
      width: 55px;
      
    }
  }
}

.left {

  &__hatha {
    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      width: 245px;
      height: 209px;
    }

    @media (min-width: $desktop-width) {
      width: 366px;
      height: 311px;
    }
  }

  &__descr {
    @media (min-width: $desktop-width) {
      padding-left: 46px;
      padding-top: 42px;
      padding-bottom: 26px;
    }
  }
  
}


// .left {
//   @media (max-width: $desktop-width) {
//     &__hatha {
//       width: 246px;
//       height: 209px;
//     }
//   }
    

// .direction {
//   margin: 0 auto;
//   margin-bottom: 154px;

//   @media (min-width: $mobile-width-only) {
//     margin-bottom: 70px;
//   }

//   &__description {
//     display: flex;
//     justify-content: space-between;

//     @media (max-width: $tablet-width) {
      
//       flex-direction: column;
//       flex-wrap: wrap;
//       align-items: center;
//     }
//   }

//   &__title {
//     margin-bottom: 13px;
//     font-size: 16px;
//     line-height: 16px;
//     font-weight: 700;
//     color: $lightpurple;

//     @media (max-width: $tablet-width) {
//       margin-bottom: 0;
//       font-size: 12px;
//       line-height: 12px;
//     }
//   }



//   &__info {
//     font-size: 12px;
//     line-height: 20px;
//     font-weight: 500;
//     color: $lightpurple;

//     @media (max-width: $tablet-width) {
//       font-size: 10px;
//       line-height: 15px;
//     }
//   }

  

//   &__btn {
//     padding-top: 20px;
//     padding-bottom: 20px;
//     width: 100%;
//     font-size: 14px;
//     line-height: 14px;
//     font-weight: 500;
//     color: $lightpurple;
//     background-color: $white;
//     text-align: center;
//     @media (max-width: $tablet-width) {
//       padding-top: 14px;
//       padding-bottom: 14px;
//     }
//   }

//   &__link {
//     display: block;
//     width: 100%;
//     height: 100%;
//     background-color: $lightpurple;
//     background-image: url("/img/arrow.svg");
//     background-repeat: no-repeat;
//     background-position: center center;

    

//   }

//   &__link--small {
//     width: 45px;
//     height: 30px;
//     @media (min-width: $mobile-width-only) {
//       width: 100%;
//       height: 100%;
//     }
//   }

//   &__card { 

  

//     @media (min-width: $mobile-width-only) {
//       width: 100%;
//     }
//   }

//   &__refer {
//     width: 20%;
//   }
// }

// // .left {
// //   &__hatha {
// //     // width: 366px;
// //     // height: 311px;
    

// //     @media (max-width: $tablet-width) {
// //       // width: 246px;
// //       // height: 209px;
// //       width: 100%;
      
// //     }

// //     // @media (min-width: $mobile-width-only) {
// //     //   width: 100%;
// //     // }

// //   }

// //   &__card {
// //     margin-right: 30px;

// //     @media (max-width: $tablet-width) {
// //       margin-right: 0;
// //       margin-bottom: 30px;
// //       font-size: 0;
// //     }
// //   }

// //   &__descr {
// //     padding-top: 42px;
// //     padding-left: 46px;

// //     @media (max-width: $tablet-width) {
// //       padding-top: 18px;
// //       padding-left: 21px;
// //       padding-bottom: 13px;
// //     }
// //   }

// //   &__teacher {
// //     width: 115px;
// //     font-size: 12px;
// //     line-height: 18px;
// //     font-weight: 500;
// //     color: $lightred;

// //     @media (max-width: $tablet-width) {
// //       font-size: 10px;
// //       line-height: 15px;
// //     }
// //   }

// //   &__bottom {
// //     display: flex;
// //     justify-content: space-between;
// //     background-color: $white;
// //   }

// //   &__info {
// //     width: 175px;
// //   }
// // }

// .right {

//   @media (min-width: $mobile-width-only) {
//     width: 100%;
//   }

//   // &__img {
//   //   width: 220px;
//   //   height: 180px;
   

//   //   @media (max-width: $tablet-width) {
//   //     width: 148px;
//   //     height: 121px;
   
//   //   }

//   //   @media (min-width: $mobile-width-only) {
//   //     width: 246px;
//   //     height: 201px;
//   //   }
//   // }



//   &__teacher {
//     width: 115px;
//     font-size: 12px;
//     line-height: 18px;
//     font-weight: 500;
//     color: $lightred;

//     @media (max-width: $tablet-width) {
//       font-size: 10px;
//       line-height: 15px;
//     }
//   }

//   &__timetable {
//     margin-bottom: 16px;
//   }

//   &__first {
//     display: flex;
//     margin-bottom: 18px;

//     @media (min-width: $mobile-width-only) {
      
//       margin-bottom: 30px;
//     }
//   }

//   &__second {
//     display: flex;
//     margin-bottom: 20px;

//     @media (max-width: $tablet-width) {
//       margin-bottom: 24px;
//     }
//   }

//   &__descr {
//     padding-top: 42px;
//     padding-left: 34px;
//     padding-right: 34px;

//     @media (max-width: $tablet-width) {
//       padding-top: 18px;
//       padding-left: 20px;
//       padding-right: 0px;
//     }

//   }

//   &__info {
//     width: 165px;
//   }

//   &__card {
//     background-color: $white;

//     @media (min-width: $mobile-width-only) {
//       flex-direction: column;
//     }
//   }

//   &__instructor {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     width: 235px;

//     @media (max-width: $tablet-width) {
//       width: 160px;
//     }
//   }


//   &__bottom {
//     @media (min-width: $mobile-width-only) {
//       display: flex;
//       justify-content: space-between;
//     }
//   }
// }