.subscription {


  margin-bottom: 120px;

  @media (max-width: $tablet-width) {
    margin-bottom: 70px;
  }

  &__list {
    margin: 0 auto;
    margin-bottom: 49px;

    display: flex;
    justify-content: center;
    align-items: center;
  }


  &__item:hover {
    border-bottom: 1px solid $lightred;
  }

  &__btn {

    font-size: 12px;
    line-height: 20px;
    color: $lightred;
    cursor: pointer;
  }

  &__offer {
    display: flex;
    justify-content: space-between;
    align-items: center;


    @media (max-width: $tablet-width) {
      flex-direction: column;
    }
  }

  &__time {
    width: 100%;
    height: 100%;
    background-color: $white;
    box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
    min-width: 250px;
    padding-bottom: 44px;
    padding-top: 30px;
    transition: all 0.5s ease;
    @media (min-width: $tablet-width) {
      min-width: 192px;
    }

    @media (min-width: $desktop-width) {
      min-width: 263px;
    }

  }

  &__time:hover {
    @media (min-width: $tablet-width) {
      min-width: 244px;
    }

    @media (min-width: $desktop-width) {
      min-width: 331px;
    }
  }

  &__time:hover .subscription__button {
    @media (min-width: $tablet-width) {
      height: 34px;
      opacity: 1;
    }
  }





  &__time:not(:last-child) {

    @media (max-width: $tablet-width) {
      margin-bottom: 30px;
    }

    @media (min-width: $tablet-width) {
      margin-right: 24px;
    }

  }

  &__title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    @media (min-width: $desktop-width) {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__button {
    width: 148px;
    height: 34px;
    font-size: 10px;
    line-height: 20px;
    font-weight: 500;
    color: $white;
    background-color: $lightpurple;
    text-align: center;
    transition: all 0.5s ease;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      opacity: 0;
      height: 0px;
    }

  }


  &__button:focus {
    font-size: 11px;
    outline: 1px solid $lightpurple;
  }

  &__button:hover {
    font-size: 11px;
    outline: 1px solid $lightpurple;
  }

  &__button:active {
    font-size: 11px;
    background-color: $white;
    color: $lightpurple;
  }


  &__article {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__condition {
    font-size: 12px;
    line-height: 20px;
    color: $lightred;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
    font-size: 10px;
    line-height: 15px;


    @media (min-width: $tablet-width) {
      width: 170px;
    }

    @media (min-width: $desktop-width) {
      width: 175px;
      line-height: 15px;
    }
  }

  &__price {
    display: block;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: $lightpurple;
    margin-bottom: 15px;

    @media (max-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 15px;
    }
  }
}
