.subscription {

  margin-bottom: 150px;

  &__list {
    margin: 0 auto;
    margin-bottom: 49px;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btn {
    
    font-size: 12px;
    line-height: 20px;
    color: $lightred;
  }

  &__offer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $mobile-width-only) {
      
    }
  }

  &__time {
    width: 263px;
    height: 237px;
    background-color: $white;

    @media (max-width: $tablet-width) {
      width: 176px;
      height: 158px;
    }

    @media (min-width: $mobile-width-only) {
      width: 250px;
      height: 199px;
    }
  }

  &__article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // padding: 56px 52px;
  padding-top: 56px;
  padding-bottom: 56px;
  text-align: center;

  @media (max-width: $tablet-width) {
    padding-top: 36px;
    padding-bottom: 30px;
  }
  }

  &__condition {
    // margin-bottom: 26px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 12px;
    line-height: 20px;
    color: $lightred;

    @media (max-width: $tablet-width) {
      padding-left: 20px;
      padding-right: 20px;
      font-size: 10px;
      line-height: 15px;
    }
  }

  &__price {
    display: block;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: $lightpurple;

    @media (max-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
    }
  }
}