.subscription {


  margin-bottom: 150px;

  @media (max-width: $tablet-width) {
    margin-bottom: 70px;
  }

  &__list {
    margin: 0 auto;
    margin-bottom: 49px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    
  }

  &__btn {
    
    font-size: 12px;
    line-height: 20px;
    color: $lightred;
  }

  &__offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    @media (max-width: $tablet-width) {
      flex-direction: column;
    }
  }

  &__time {
    // width: 263px;
    // height: 237px;
    width: 100%;
    height: 100%;
    background-color: $white;
    outline: 1px solid red;


    @media (max-width: $tablet-width) {
      width: 250px;
      height: 199px;
      
    }
  }

  &__time:not(:last-child) {

    @media (max-width: $tablet-width) {
      margin-bottom: 30px;
    }

    @media (min-width: $tablet-width) {
      margin-right: 24px;
    }
    
  }

  &__title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    @media (min-width: $desktop-width) {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__button {
    width: 148px;
    padding: 14px 23px;
    font-size: 10px;
    line-height: 20px;
    font-weight: 500;
    color: $white;
    background-color: $lightpurple;
    text-align: center;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // padding: 56px 52px;
  padding-top: 56px;
  padding-bottom: 56px;
  text-align: center;

  @media (max-width: $tablet-width) {
    padding-top: 36px;
    padding-bottom: 30px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    // width: 176px;
    height: 159px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  }

  &__condition {
    // margin-bottom: 26px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 12px;
    line-height: 20px;
    color: $lightred;

    @media (max-width: $tablet-width) {
      padding-left: 20px;
      padding-right: 20px;
      font-size: 10px;
      line-height: 15px;
    }

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 15px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 15px;
      padding-left: 70px;
      padding-right: 70px;
      font-size: 12px;
      line-height: 15px;

    }
  }

  &__price {
    display: block;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: $lightpurple;

    @media (max-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
    }
  }
}